<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
{% if not error %}
<form method="post" action="/emailvalid">
	{% csrf_token %}
	<label> Please Enter Email Address : </label>
	<input type="email" name="Email" value="">


	<div class="">
	{% if error1 %}
	<div class="alert alert-warning" role="alert">
			{{error1}}
	</div>

	{% endif %}
	</div>
	<button type="submit" name="button"> Reset</button>
</form>
	{% endif %}
	{% if error %}
	<div class="alert alert-success" role="alert">
			{{error}}
	</div>
	<a href="{% url 'tempvalidator' %}">Click here to validate</a>
	{% endif %}
