<h3> Reset password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form class="" method="post" action="/tempvalidator">
	{% csrf_token %}
	<label> Temporary password</label>
	<input type="password" name="temp_pass" value="">
	<label> New password</label>
	<input type="password" name="Password" value="">
	<label> Confirm password</label>
	<input type="password" name="Confirmpassword" value="">
	<button type="submit" name="button">reset password </button>
	{% if error2 %}
	<div class="alert alert-success" role="alert">
			{{error2}}
	</div>
	{% endif %}
</form>
