{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <base href="/" />

    <!-- Stylesheets
    ============================================= -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'images/bootstrap.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'images/style.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'images/dark.css' %}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="{% static 'vendor/font-icons.css' %}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{% static 'images/custom.css' %}"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css"></style>

    <!-- Document Title
    ============================================= -->
    <title>Navbar</title>
  </head>

  <body class="stretched">
    <header id="header" class="full-header">
      <div id="header-wrap">
        <div class="container">
          <div class="header-row">
            <!-- Logo
                        ============================================= -->
            <div id="logo">
              <a
                href="index.html"
                class="standard-logo"
                data-dark-logo="images/logo-dark.png"
              >
                <h1 class="pt-3">ApplyUni</h1>
              </a>
              <a
                href="index.html"
                class="retina-logo"
                data-dark-logo="images/logo-dark@2x.png"
                ><img src="images/logo@2x.png" alt="Canvas Logo"
              /></a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation
                        ============================================= -->
            <nav class="primary-menu">
              <ul class="menu-container">
                <li class="menu-item">
                  <a class="menu-link" href="/stdhome"
                    ><div>
                      <i class="fa fa-home mt-1"></i>
                      Home
                    </div></a
                  >
                </li>

                <li class="menu-item page-scroll">
                  <a class="menu-link" href="stdappl">
                    <div>
                      <i class="fa fa-address-card mt-1"></i>
                      Applications
                    </div></a
                  >
                </li>

                <li class="menu-item mega-menu page-scroll">
                  <a class="menu-link" href="stduni"
                    ><div>
                      <i class="fa fa-university mt-1"></i>
                      Browse Universities
                    </div></a
                  >
                </li>

                <li class="menu-item mega-menu page-scroll">
                  <a class="menu-link" href="stdsaved"
                    ><div>
                      <i class="fa fa-bookmark mt-1 fa-2x"></i>Saved
                    </div></a
                  >
                </li>
                <li class="menu-item page-scroll">
                  <a class="menu-link" href="#"
                    ><div>
                      <i class="fa fa-user fa-2x" style="margin-top: 5px"></i
                      >student Name
                    </div></a
                  >
                  <ul class="sub-menu-container">
                    <li class="menu-item">
                      <a class="menu-link" href="/stdind"><div>profile</div></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="/stdsupport"
                        ><div>Support</div></a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="/logout"><div>Logout</div></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
            <!-- #primary-menu end -->

            <form class="top-search-form" action="search.html" method="get">
              <input
                type="text"
                name="q"
                class="form-control"
                value=""
                placeholder="Type &amp; Hit Enter.."
                autocomplete="off"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="header-wrap-clone"></div>
    </header>
    <!-- #header end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.min.js' %}"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="{% static 'js/functions.js' %}"></script>
  </body>
</html>
