<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" type="text/css" >

    </head>
    <body>
        {% extends "Student_portal/navbar.html" %}
        {% block content %}
       <section id="slider" class="slider-element slider-parallax swiper_wrapper vh-75">
            <div class="slider-inner">

                <div class="swiper-container swiper-parent">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide dark">
                            <div class="container">
                                <div class="slider-caption slider-caption-center">
                                    <h2 data-animate="fadeInUp" style="color: white;">Welcome to Applyuni</h2>
                                    <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="100" style="color: white;">Welcome to U apply, Choose and apply from 200 universities worldwide right from where you are. we will guide you through long the way!

</p>
                                </div>
                            </div>
                            <div class="video-wrap" ">
                                <video poster="images/videos/explore-poster.jpg" preload="auto" loop autoplay muted >
                                    <source src='https://player.vimeo.com/external/322525169.sd.mp4?s=8d29a6e803f8c2aa5e2caccead18ca3eca3f585d&profile_id=164&oauth2_token_id=57447761' type='video/mp4' />
                                    <source src='images/videos/explore.webm' type='video/webm' />
                                </video>
                                <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>


        <section id="content">
            <div class="content-wrap p-0">
                <div class="container clearfix">
                    <div class="line"></div>
                    <div class="row col-mb-50 " >
                        <div class="col-md-5">
                            <a href="https://vimeo.com/101373765" class="d-block position-relative rounded overflow-hidden" data-lightbox="iframe">
                                <img src="https://cdn-v2.asla.org/uploadedImages/CMS/Shop/Bookstore/books.jpg" alt="Image" class="w-100">
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content dark">

                                      <i class="i-circled i-light icon-line-play m-0"></i>
                                    </div>
                                    <div class="bg-overlay-bg op-06 dark"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="heading-block">
                                <h2>Globally Preferred Educational Platform</h2>
                            </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione at repellendus dicta molestiae? Libero pariatur voluptates rem id quidem corporis, asperiores, velit tenetur quae recusandae est exercitationem ratione ex hic?.</p>
                            <div class="row col-mb-30">
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <ul class="iconlist iconlist-color mb-0">
                                        <li><i class="icon-caret-right"></i> Direct Connection with University</li>
                                        <li><i class="icon-caret-right"></i> User Friendly</li>
                                        <li><i class="icon-caret-right"></i> Self Registration</li>

                                    </ul>
                                </div>

                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <ul class="iconlist iconlist-color mb-0">
                                        <li><i class="icon-caret-right"></i> Passport and Visa Assistance</li>
                                        <li><i class="icon-caret-right"></i> Avaliable Top Universities  </li>
                                        <li><i class="icon-caret-right"></i> Support</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="section topmargin-lg" id="features">
                    <div class="container clearfix">
                        <div class="heading-block center">
                            <h2>Features that you are gonna <span> Love</span></h2>
                        </div>
                        <div class="row justify-content-center col-mb-50">
                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-sm fbox-plain" data-animate="fadeIn">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="fas fa-book"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3>Course Selection & Guidance</h3>
                                        <p>Guidance and Counselling for you to choose the right programme to start your career</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-sm fbox-plain" data-animate="fadeIn" data-delay="200">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="fa fa-university"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3>University Admissions</h3>
                                        <p>Securing guranteed admissions from top universities across the world, as per your choice.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-sm fbox-plain" data-animate="fadeIn" data-delay="400">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="fas fa-file"></i></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3>Documentation and Support</h3>
                                        <p>Help you prepare the right documents needed for University admissions and visa application which ensures 100% success.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-sm fbox-plain" data-animate="fadeIn" data-delay="600">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="far fa-life-ring"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3>Support during your Study & Stay</h3>
                                        <p>Emergency assistance and local support till you succesfullly complete your studies.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-sm fbox-plain" data-animate="fadeIn" data-delay="800">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="fas fa-passport"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3>Passport Assistance</h3>
                                        <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-sm fbox-plain" data-animate="fadeIn" data-delay="1000">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="fas fa-fast-forward"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3>Endless Possibilities</h3>
                                        <p>Complete control on each &amp; every element that provides endless customization possibilities.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container clearfix mb-5" id="universities">
                    <div class="heading-block center">
                        <h3><span>Universities</span>We have</h3>

                    </div>
                    <div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="1" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-xl="3">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1030616002%2F960x0.jpg%3Ffit%3Dscale" alt="Open Imagination">
                                </a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                        <a href="images/portfolio/full/1.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                        <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="fas fa-heart"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Harvard University</a></h3>
                                <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                            </div>
                        </div>

                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="https://studyabroad.shiksha.com/mediadata/images/articles/historic-college-building-in-cambridge-united-kingdom-picture-id611591082.jpg" alt="Locked Steel Gate">
                                </a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                        <a href="images/portfolio/full/2.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                        <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Cambridge University</a></h3>
                                <span><a href="#">Illustrations</a></span>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="https://d2l4kn3pfhqw69.cloudfront.net/wp-content/uploads/2020/03/UofT.jpg" alt="Mac Sunglasses">
                                </a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                        <a href="https://vimeo.com/89396394" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                        <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single-video.html">University of Toronto</a></h3>
                                <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="https://www.collegeconsensus.com/wp-content/uploads/2016/12/20080421_CampLife_02_1-L-800x534.jpg" alt="Morning Dew">
                                </a>
                                <div class="bg-overlay" data-lightbox="gallery">
                                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn">
                                        <a href="images/portfolio/full/4.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                        <a href="images/portfolio/full/4-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
                                        <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single-gallery.html">Princeton University</a></h3>
                                <span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </section><!-- #content end -->

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        {% endblock %}
    </body>
